:root{--co1-50: #D2DCFB;
--co1-100: #A5B9F7;
--co1-200: #7896F2;
--co1-300: #4B73EE;
--co1-400: #1D51EA;
--co1: #123FC6;
--co1-600: #0F34A3;
--co1-700: #0C2A83;
--co1-800: #091F62;
--co1-900: #061541;
--co1-950: #030A21;

--co2-50: #F9E7DE;
--co2-100: #F4CFBE;
--co2-200: #EEB79D;
--co2-300: #E99F7C;
--co2-400: #E3865B;
--co2: #DD6C39;
--co2-600: #C85622;
--co2-700: #A0451B;
--co2-800: #783414;
--co2-900: #50230E;
--co2-950: #281107;

--co3-50: #e3e6ef;
--co3-100: #c8cddf;
--co3-200: #acb4d0;
--co3-300: #919bc0;
--co3-400: #7582b0;
--co3: #5a699e;
--co3-600: #4c5884;
--co3-700: #3d476a;
--co3-800: #2e354f;
--co3-900: #1e2335;
--co3-950: #0f121a;

--co4-50: #f3e5e2;
--co4-100: #e6ccc5;
--co4-200: #dab2a8;
--co4-300: #cd998a;
--co4-400: #c17f6d;
--co4: #b56651;
--co4-600: #985441;
--co4-700: #794334;
--co4-800: #5b3227;
--co4-900: #3d221a;
--co4-950: #1e110d;




	--bunkbed: #f5ce3b;
	--group-color-50: #fdf7df;
	--group-color-100: #fceebe;
	--group-color-200: #fae69e;
	--group-color-300: #f8de7e;
	--group-color-400: #f7d55e;
	--group-color: #f5ce3b;
	--group-color-600: #f2c10d;
	--group-color-700: #c29a0a;
	--group-color-800: #917408;
	--group-color-900: #614d05;
	--group-color-950: #302703;}